$primary-color: #294652 !default;
$primary-color-light: #5f8c9e !default;
$primary-color-lighter: #a4d7eb !default;

$secondary-color: #99ced3 !default;
$secondary-color-light: #ade6eb !default;
$secondary-color-lighter: #c2f1f6 !default;

$font-large: 18px !default;
$font-regular: 16px !default;
$font-small: 14px !default;
$gutter-space: 12px !default;
